/* ------------------------ */
/* Table of contents        */
/* ------------------------ */
/* 1. Properties            */
/* 2. Layout                */
/* 3. Components            */
/* 3.1. Navigation          */
/* 3.2. Main                */
/* 3.3. Footer              */
/* 4. Typography            */
/* 5. Utility               */
/* 6. Media queries         */
/* ------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Rokkitt&family=Ubuntu+Mono');

/* ------------------------ */
/* 1.PROPERTIES             */
/* ------------------------ */

:root {
    --col-li: #B9FFB7;
    --col-nl: #ABEDC6;
    --col-nu: #98D9C2;
    --col-nd: #F19A3E;
    --col-da: #403233;

    --font-main: 'Rokkitt', serif;
    --font-mono: 'Ubuntu Mono', monospace;
}


/* ------------------------ */
/* 2.LAYOUT                 */
/* ------------------------ */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--col-nl);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;

    display: grid;
    grid-template-areas:    "   nav     "
                            "   main    "
                            "   footer  ";
    grid-template-columns:      1fr;
    grid-template-rows: auto 1fr auto;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}


/* ------------------------ */
/* 3.COMPONENTS             */
/* 3.1.NAVIGATION           */
/* ------------------------ */

nav {
    background-color: var(--col-nu);
    grid-area: nav;
}

nav header {
    background-color: var(--col-da);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav ol {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 1rem 1rem 1rem 2rem;
}


/* ------------------------ */
/* 3.2.MAIN                 */
/* ------------------------ */

main {
    grid-area: main;
    background-color: var(--col-nl);

    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

.main-section > *,
.main-section::after {
    grid-column: 1;
}

.main-section:not(:last-of-type)::after {
    content:"";
    display: block;
    background-color: var(--col-nu);
    height: 0.1rem;
    width: 50%;
    margin-left: 1rem; /* same as text indent */
}

ul {
    padding-left: 1rem;
}

/* Counter at the beginning of every section */
h2::before {
    counter-increment: section;
    content: counter(section) ". ";
}

body {    
    counter-reset: section;
}

.codeBlock {
    white-space: pre-wrap;

    display: block;
    background-color: var(--col-li);
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    
    border-radius: 0.2rem;
    border-width: 0.05rem;
    border-style: solid;
    border-color: var(--col-nu);

    cursor: text;
}

.codeBlock:hover,
.codeBlock:focus {
    border-color: var(--col-nd);
}


/* ------------------------ */
/* 3.3.FOOTER               */
/* ------------------------ */

footer {
    grid-area: footer;
    background-color: var(--col-da);
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* ------------------------ */
/* 4.TYPOGRAPHY             */
/* ------------------------ */

html {    
    font-size: 22px;
    font-family: var(--font-main);
    color: var(--col-da);
    letter-spacing: .05rem;
}

code {
    font-family: var(--font-mono);
}

nav h1,
nav h3,
nav ul,
footer {
    color: var(--col-nu);
}

nav h1 {
    font-size: 2rem;
}

a {
    display: inline;
    text-decoration: underline dashed;
    text-decoration-thickness: 0.05rem;
    color: inherit;
}

a:hover {
    color: var(--col-nd);
}

h2,
p {
    text-indent: 1rem;
}

nav h1,
nav h3,
nav ul,
footer p,
h2 {    
    text-align: center;
}

p {
    text-align: justify;
}

nav h1 span,
footer em,
p > code {
    color: var(--col-nd)
}


/* ------------------------ */
/* 5.UTILITY                */
/* ------------------------ */

html {
    scroll-behavior: smooth;
}


/* ------------------------ */
/* 6.MEDIA QUERIES          */
/* ------------------------ */

@media (min-width: 1024px) {
    
    .wrapper {
        grid-template-areas:    "   nav     main    "
                                "   footer  footer  ";
        grid-template-columns: minmax(20ch, 25%) 1fr;
        grid-template-rows: 1fr auto;
    }

    h2 {
        text-align: left;
    }
}

@media (min-width: 1440px) {

    .main-section {
        grid-template-columns: 1fr 10%;
    }

    .main-section > code {
        grid-column: 1 / span 2;
    }
}