/* ------------------------ */
/* Table of contents        */
/* ------------------------ */
/* 1. Properties            */
/* 2. Layout                */
/* 3. Components            */
/* 4. Typography            */
/* 5. Media queries         */
/* ------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Rokkitt&family=Ubuntu+Mono');

/* ------------------------ */
/* 1.PROPERTIES             */
/* ------------------------ */

:root {
    --col-li: #B9FFB7;
    --col-nl: #ABEDC6;
    --col-nu: #98D9C2;
    --col-nd: #F19A3E;
    --col-da: #403233;

    --font-main: 'Rokkitt', serif;
    --font-mono: 'Ubuntu Mono', monospace;
}


/* ------------------------ */
/* 2.LAYOUT                 */
/* ------------------------ */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-main);
    font-size: 22px;
    color: var(--col-da);
}

body {
    background-color: var(--col-nl);
    display: grid;
    grid-template-columns: 1fr;
    counter-reset: section;
}


/* ------------------------ */
/* 3.COMPONENTS             */
/* ------------------------ */

nav {
    background-color: var(--col-nu);
    display: flex;
    flex-direction: column;
}

nav h1,
nav h3,
nav ul {
    padding: 1rem 1rem 1rem 0.5rem;
    background-color: var(--col-da);
}

nav ol {
    margin: 0rem 1rem 0rem 0.5rem;
}

nav ol li {
    margin: 0.7rem 0;
}

main {
    background-color: var(--col-nl);
    padding: 1rem;
}

.main-section + .main-section {
    margin-top: 2rem;
}

.main-section:not(:last-of-type)::after {
    content:"";
    display: block;
    background-color: var(--col-nu);
    height: 0.1rem;
    width: 50%;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

h2 {
    margin-bottom: 1rem;
}

h2::before {
    counter-increment: section;
    content: counter(section) ". ";
}

p + p {
    margin-top: 0.3rem;
}

section > code {
    display: block;
    white-space: pre-wrap;
    background-color: var(--col-li);
    border-radius: 0.2rem;
    border-width: 0.05rem;
    border-style: solid;
    border-color: var(--col-nu);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

section > code:hover {
    border-color: var(--col-nd);
}

section > code:focus {
    border-color: var(--col-nd);
}

footer {
    background-color: var(--col-da);
}


/* ------------------------ */
/* 4.TYPOGRAPHY             */
/* ------------------------ */

nav h1 span {
    color: var(--col-nd);
}

nav h1,
nav h3,
nav ul {
    text-align: center;
    color: var(--col-nu);
}

nav h1 {
    font-size: 1.7rem;
}

a:hover {
    color: var(--col-nd);
}

a {
    display: inline;
    text-decoration: underline dashed;
    color: inherit;
}

h2 {    
    text-indent: 1rem;
    text-align: center;
}

p {
    text-indent: 1rem;
    text-align: justify;
}

code {
    font-family: var(--font-mono);
}

p > code {
    color: var(--col-nd)
}

footer {
    color: var(--col-nu);
}

footer p {
    text-align: center;
    margin: auto;
    padding: 1rem;
}

footer em {
    color: var(--col-nd);
}


/* ------------------------ */
/* 5.MEDIA QUERIES          */
/* ------------------------ */

@media (min-width: 900px) {
    body {
        grid-template-columns: 1fr 3fr;
    }

    h2 {
        text-align: left;
    }

    h2, 
    p {
        width: 85%;
    }

    footer {
        grid-column: 1/-1;
    }
}

@media (min-width: 1200px) {
    body {
        width: 80%;
        margin: auto;
        border-left: 1px solid var(--col-da);
    }

    #main-doc {
        border-right: 1px solid var(--col-nu);
    }
}